<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goprox">

    <!-- Internet access needed for Firebase, Google, Facebook -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SMS permissions for phone verification -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <!-- Optional, marks that telephony is not required for app install -->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoProx">

        <activity android:name=".HomeActivity" android:exported="true"/>
        <activity android:name=".RegistrationActivity" android:exported="true"/>
        <activity android:name=".LoginActivity" android:exported="true"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>